@use "../utils/variables" as var;
@use "../utils/helpers";

.footer {
  background: url(../assets/images/footer-bg.png) no-repeat center/cover;
  padding: 24px 0px;

  &__info {
    @extend %flex-between;
    margin-bottom: 26px;
    padding-bottom: 60px;

    @media (max-width: 1120px) {
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;

    @media (max-width: 780px) {
      margin-top: 24px;
      order: 1;
      gap: 16px;
    }
  }

  &__link {
    color: var.$text-color;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    @media (max-width: 400px) {
      font-size: 12px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: 485px) {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      margin-bottom: 25px;
    }
  }

  &__icon {
    font-size: 24px;
    color: var.$text-color;
    margin-top: 5px;
  }

  &__text {
    width: 140px;
    color: var.$text-color;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  &__admin {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__text {
      color: var.$text-color;
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
    }

    @media (max-width: 760px) {
      display: none;
    }
  }
}

.footer__nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var.$white-color !important;
  z-index: 1;
  padding: 20px 16px;

  @media (min-width: 830px) {
    display: none;
  }

  &__center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    gap: 20px;

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }

    &__icon {
      font-size: 24px;
      opacity: 0.7;
      color: var.$text-color;
    }

    &__title {
      color: var.$text-color;
      text-align: center;
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      font-size: 8px;
      line-height: 150%;
      opacity: 0.7;
    }

    &__shopping {
      position: relative;
    }

    &__text {
      position: absolute;
      top: -12px;
      right: 0px;
      padding: 0px 4px;
      border-radius: 4px;
      background: var.$primary-color;
      color: var.$white-color;
      font-family: "Rubik", sans-serif;
      font-weight: 300;
      font-size: 14px;
    }
  }
}

.dark .footer {
  background: var.$dark-color;
}

.dark .footer__link,
.dark .footer__icon,
.dark .footer__text,
.dark .wik__title {
  color: var.$white-color;
}