@font-face {
  font-family: Rubik300;
  src: url(../../assets/fonts/Rubik/Rubik-Light.ttf);
}

@font-face {
  font-family: Rubik400;
  src: url(../../assets/fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
  font-family: Rubik500;
  src: url(../../assets/fonts/Rubik/Rubik-Medium.ttf);
}

@font-face {
  font-family: Rubik600;
  src: url(../../assets/fonts/Rubik/Rubik-SemiBold.ttf);
}

@font-face {
  font-family: Rubik700;
  src: url(../../assets/fonts/Rubik/Rubik-Bold.ttf);
}

@font-face {
  font-family: Rubik800;
  src: url(../../assets/fonts/Rubik/Rubik-ExtraBold.ttf);
}

@font-face {
  font-family: Rubik900;
  src: url(../../assets/fonts/Rubik/Rubik-Black.ttf);
}
